<div class="shirt">
  <a href="<%= shirt.link %>"><img src=<%= shirt.image_url %> /></a>
  <h2><%= shirt.name %></h2>
  <ul>
    <% shirt.bought_by.each do |name| %>
      <li><a href="http://twitter.com/<%= name.delete("@") %>"><%= name %></a></li>
    <% end %>
  </ul>
</div>
