<!DOCTYPE html>
<html>
  <head>
    <title>TeeShare</title>
    <%= stylesheet_link_tag "reset", "application" %>
    <%= javascript_include_tag "jquery.min", "rails" %>
    <%= javascript_include_tag "jquery.quicksearch", "jquery.validate", "jquery.autoclear.min" %>

    <%= csrf_meta_tag %>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>


    <div class="content">
      <%= yield %>
    </div>

    <div class="sidebar">

      <div class="new-shirt">
        <%= link_to "Agregar Camisa Nueva", new_tee_path %>
      </div>

      <div class="suggestions">
        <h2>Nadie Tiene Estas Camisas</h2>
        <table>
          <% @available_tees.each_slice(3) do |shirts| %>
          <tr>
            <%= render :partial => "shared/tee", :collection => shirts %>
          </tr>
          <% end %>
        </table>

        <h2>Otros Productos</h2>
        <div class="other-products">
          <%= image_tag "book.png" %>
          <h3>The Threadless Book</h3>
          <p>Totalmente recomendado. Incluye algunos de los mejores diseños y ensayos de gente como <span><%= link_to "Seth Godin", "http://sethgodin.typepad.com/" %></span> o <span><%= link_to "Glenn Jones", "http://www.glennz.co.nz/" %></span>.</p>
        </div>


        <div class="github">
          <h2>Código Fuente</h2>
          <%= link_to image_tag("github.png"), "http://github.com/febuiles/teeshare", :title => "Ver código fuente"  %>
          <p class="contact">Para contacto o reporte de problemas haga<span><%= link_to "click aquí", "mailto:federico@mheroin.com" %></span></p>
          <p class="disclaimer">
            Para la construcción de este sitio se consumió <%= link_to "heroína", "http://mheroin.com" %>
          </p>


        </div>
      </div>
    </div>
  </body>
</html>
